body{
	color: white;
	background-color: black;
	font-family: Verdana;
  background-image: url('images/backgrounds/charcoal.gif');

  margin:0;
  padding:0;
  text-align:center;
}

body ul{
	list-style-type: none;
}

body ul li{
	margin-top: 3px;
}

body ul li img{
	float: left;
}

#tags{
  font-size: 9px !important;
}

#central{
  font-family: Arial;
  width: 560px;
  margin: 80px auto 0;
  text-align:left;
}

#caixa{
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 60px;

  text-align: justify;
  font-family: Arial;
  background-color: #1B1B1B;

  border-color: #676767;
  border-width: 1px;
  border-style: dashed
}

#caixa p{
 font-size: 13px;
}

#RedesSociais{
  float: right;
  padding-top: 18px;
}

#central h1{
  padding-left: 18px;
}

#central h2 {
    float: left;
}
